@media only screen and (max-width: 768px) {
  .nav-links{
    display: flex;   
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 50% 0, 0 0);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 50% 0, 0 0);
    transition: all 1s ease-out;

      
  }
  .nav-links.open{
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 51% 100%, 0 90%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 51% 100%, 0 90%);
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li a{
    font-size: 20px;
  }
  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4){
    transition: all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(5){
    transition: all 0.5s ease 0.6s;
  }
  li.fade{
    opacity: 1;
  }
  .hamburger{
    position:absolute;
    right: 0;
    z-index: 2;
  }
  .logo{
    position: absolute;
    z-index: 2;
  }
}