.hamburger div{
  transition: all 0.3s ease;
}
.rotate .lineOne{
  transform:rotate(-45deg) translate(-20px,6px);
  margin-left: 25px;
}
.rotate .lineTwo{
  display: none;
}
.rotate .lineThree{
  transform:rotate(45deg) translate(-20px,-6px);
  margin-left: 25px;
}